@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');


@mixin card {
    background-color: var(--component-bg);
    border-radius: 12px;
    padding: 20px;
    margin: 20px;
    height: fit-content;
    box-shadow: 0px 8px 15px 0px var(--component-shadow);
    -webkit-box-shadow: 0px 8px 15px 0px var(--component-shadow);
    -moz-box-shadow: 0px 8px 15px 0px var(--component-shadow);
}


@mixin flex($direction, $justify, $align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
}


@mixin zerogap {
    margin: 0;
    padding: 0;
}


body {
    margin: 0;
    padding: 0;
    background-color: var(--body-bg);
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
}

.theme_toggle {
    position: absolute;
    top: 20px;
    @include flex(row, space-between, center);
    .checkbox {
        opacity: 0;
        position: relative;
    }

    .checkbox-label {
        background-color: var(--theme);
        width: 50px;
        height: 26px;
        border-radius: 50px;
        position: relative;
        padding: 5px;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 1px solid var(--filling);
        .fa-moon {
            color: #f1c40f;
        }
    
        .fa-sun {
            color: #f39c12;
        }
        .ball {
            background-color: var(--filling);
            width: 22px;
            height: 22px;
            position: absolute;
            left: 8px;
            top: 8px;
            border-radius: 50%;
            transition: transform 0.2s linear;
        }
    }

    .checkbox:checked+.checkbox-label .ball {
        transform: translateX(25px);
    }
}

.App {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    grid-auto-flow: dense;
    max-width: max(1024px, 80vw);
    margin: auto;
    margin-top: 50px;
}


h1,
p {
    @include zerogap;
}


.About {
    @include card;
    grid-row: 1/4;

    .profile-image {
        object-fit: cover;
        width: 100%;
        object-position: center;
        aspect-ratio: 1/1;
        border-radius: 12px;
    }

    .about-description {
        padding: 5px 10px;

        .about-head {
            h1 {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 600;
                font-size: 24px;
                line-height: 29px;

                color: var(--h1color);
            }

            p {
                font-weight: 500;
                font-size: 18px;
                line-height: 22px;
                /* Gray 3 */
                color: #646464;
            }
        }

        .contact-div {
            margin: 20px 0;

            span {
                .icon {
                    object-fit: cover;
                    width: 20px;
                    height: 20px;
                    position: relative;
                    top: 5px;
                    margin-right: 10px;
                }

                a {
                    text-decoration: none;
                    font-size: 1rem;
                    color: var(--text);
                    font-size: 16px;
                }
            }
        }

        .about-summary {
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 22px;
            /* Gray 3 */
            color: var(--pcolor);
        }
    }
}


.skill-div {
    @include flex(row, center, center);
    width: 100%;
}


.skills {
    @include card;
    width: 50%;

    h2 {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        text-transform: uppercase;

        /* Gray 2 */

        color: var(--h1color);
    }

    table {
        width: 100%;

        tbody {
            font-weight: 600;
            font-size: 16px;
            line-height: 20px;
            color: var(--h1color);
            @include zerogap;

            tr {
                td.name {
                    width: 30%;
                }

                td {
                    .outer-box {
                        background-color: rgb(184, 184, 184);
                        height: 8px;
                        margin: 10px;
                        border-radius: 12px;

                        .inner-box {
                            background-color: var(--filling);
                            height: 100%;
                            width: 90%;
                            border-radius: 12px;
                        }
                    }
                }
            }

        }
    }
}


.projects {
    .project-head {
        @include card;

        h1 {
            font-weight: 500;
            font-size: 18px;
            line-height: 22px;
            /* identical to box height */
            color: var(--h1color);
        }

        .tags-btns {
            width: 80%;

            button {
                color: var(--text);
                background-color: var(--theme);
                border: 1px solid var(--filling);
                border-radius: 12px;
                padding: 6px 20px;
                margin: 20px 10px 0px 0;
                font-size: 14px;
                line-height: 20px;
                font-weight: 500;
                cursor: pointer;
            }

            .active {
                background: var(--filling);
                color: var(--body-bg);
            }
        }
    }

    .all-projects {
        .project-div {
            @include card;
            @include flex(row, space-between, center);
            box-sizing: border-box;

            img {
                object-fit: cover;
                width: 30%;
                object-position: center;
                aspect-ratio: 1/1;
                border-radius: 12px;
                margin-right: 20px;
                border: 0.2px groove rgb(69, 69, 69);
            }

            .tags {
                font-weight: 500;
                font-size: 12px;
                line-height: 16px;
                /* identical to box height */
                color: var(--h1color);
                opacity: 0.7;

                span {
                    margin: 5px;
                }
            }

            h2 {
                font-weight: 500;
                font-size: 22px;
                line-height: 26px;
                color: var(--h2color);
            }

            p {
                font-size: 16px;
                line-height: 20px;

                color: var(--pcolor);
            }

            .buttons {
                @include flex(row, flex-start, center);

                a {
                    text-decoration: none;
                    padding: 10px 15px;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 18px;
                    border-radius: 12px;
                    margin: 20px 10px 0 0;
                }

                .demo {
                    color: var(--theme);
                    background-color: var(--filling);
                }

                .code {
                    color: var(--text);
                    background-color: var(--theme);
                    border: 1px solid var;
                }
            }
        }
    }

    .page-indctr {
        @include flex(row, flex-end, center);

        button {
            width: 40px;
            height: 40px;
            font-size: 14px;
            border: 1px solid var(--text);
            border-radius: 8px;
            padding: 5px 10px;
            cursor: pointer;
            margin-right: 10px;
        }

        .activePage {
            background-color: var(--filling);
            color: var(--theme);
        }
    }
}


.experiences-div {
    @include card;
    padding: 5%;

    h1 {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;

        color: var(--h1color);
        margin-bottom: 20px;
    }

    .company-div {
        @include flex(row, center, center);
        margin-top: 25px;

        .company-logo {
            object-fit: cover;
            object-position: center;
            width: 25%;
        }

        .company-details {
            margin-left: 20px;

            .time {
                font-weight: 500;
                font-size: 14px;
                line-height: 17px;
                /* identical to box height */
                color: #828282;
            }

            h2 {
                @include zerogap;
                font-weight: 600;
                font-size: 16px;
                line-height: 20px;
                /* identical to box height */
                color: var(--h2color);
                margin: 10px 0 20px 0;
            }

            p {
                font-size: 14px;
                line-height: 18px;

                color: var(--pcolor);
            }
        }
    }

}


.hobbies-div {
    @include card;

    h1 {
        font-weight: 500;
        font-size: 22px;
        line-height: 26px;

        color: var(--h1color);
        margin-bottom: 20px;
    }

    .hobby-div {
        margin: 20px 0;

        .coverImg {
            object-fit: cover;
            width: 100%;
            aspect-ratio: 21/9;
            border-radius: 12px;
            margin-bottom: 20px;
        }

        h2 {
            @include zerogap;
            font-weight: 600;
            font-size: 18px;
            line-height: 20px;
            /* identical to box height */
            color: var(--h2color);
        }

        p {
            font-size: 14px;
            line-height: 18px;
            color: var(--pcolor);
            margin-top: 20px;
        }

    }
}


.connect-div {
    @include card;

    h1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 29px;
        color: var(--h1color);
    }

    .social-links {
        @include flex(row, start, center);

        a.instagram {
            color: #C13584;
        }

        a.github {
            color: var(--text);
        }

        a {
            margin-top: 20px;
            border: 1px solid var(--text);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            margin-right: 20px;
            @include flex(row, center, center);
        }
    }
}


footer {
    grid-column: 1/3;
    width: 100%;
    text-align: center;
    margin: 50px auto 20px auto;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: var(--pcolor);

    a {
        text-decoration: none;
        font-weight: 700;
        color: var(--h1color);
    }
}

@media screen and (max-width:769px) {
    body {
        font-size: 80%;

        .App {
            grid-template-columns: 1fr 1fr;
            box-sizing: border-box;

            .sidegrid {
                grid-column: 1/2;
            }

            .skill-div {
                flex-direction: column;
            }

            .main-grid {
                .skills {
                    width: 80%;
                }

                .projects {
                    .project-head {
                        .tags-btns {
                            width: 100%;

                            button {
                                padding: 6px 10px;
                                margin: 10px 10px 0px 0;
                            }
                        }
                    }

                    .all-projects {
                        .project-div {
                            @include flex(column, space-between, center);

                            img {
                                width: 100%;
                                aspect-ratio: 21/9;
                                border: none;
                                margin: 0;
                                margin-bottom: 10px;
                            }

                            .tags {
                                span {
                                    margin: 2px;
                                }
                            }

                            .buttons {
                                a {
                                    font-size: 12px;
                                    line-height: 16px;
                                }
                            }
                        }
                    }

                    .page-indctr {
                        @include flex(row, center, center);
                    }
                }
            }
        }
    }
}

@media screen and (max-width:426px) {
    body {
        .App {
            grid-template-columns: 1fr;
            box-sizing: border-box;

            .sidegrid {
                grid-column: 1/3;
            }

            .skill-div {
                flex-direction: column;
            }

            .main-grid {
                .skills {
                    width: 80%;
                }

                .projects {
                    .project-head {
                        .tags-btns {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
}