@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");
body {
  margin: 0;
  padding: 0;
  background-color: rgb(241, 241, 241);
  font-family: "Montserrat", sans-serif;
  color: black;
}

.App {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: dense;
  margin: 3% 5%;
  max-width: max(1024px, 80vw);
  margin: auto;
}

h1,
p {
  margin: 0;
  padding: 0;
}

.About {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  grid-row: 1/4;
}
.About .profile-image {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  border-radius: 12px;
}
.About .about-description {
  padding: 5px 10px;
}
.About .about-description .about-head h1 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
}
.About .about-description .about-head p {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* Gray 3 */
  color: #646464;
}
.About .about-description .contact-div {
  margin: 20px 0;
}
.About .about-description .contact-div span .icon {
  -o-object-fit: cover;
     object-fit: cover;
  width: 20px;
  height: 20px;
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.About .about-description .contact-div span a {
  text-decoration: none;
  font-size: 1rem;
  color: black;
  font-size: 16px;
}
.About .about-description .about-summary {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  /* Gray 3 */
  color: #5e5e5e;
}

.skill-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

.skills {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  width: 50%;
}
.skills h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  /* Gray 2 */
  color: #353535;
}
.skills table {
  width: 100%;
}
.skills table tbody {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  color: #353535;
  margin: 0;
  padding: 0;
}
.skills table tbody tr td.name {
  width: 30%;
}
.skills table tbody tr td .outer-box {
  background-color: rgb(184, 184, 184);
  height: 8px;
  margin: 10px;
  border-radius: 12px;
}
.skills table tbody tr td .outer-box .inner-box {
  background-color: rgb(47, 128, 237);
  height: 100%;
  width: 90%;
  border-radius: 12px;
}

.projects h1 {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height */
  color: #353535;
}
.projects .all-projects .project-div {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
.projects .all-projects .project-div img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 30%;
  -o-object-position: center;
     object-position: center;
  aspect-ratio: 1/1;
  border-radius: 12px;
  margin-right: 20px;
}
.projects .all-projects .project-div .tags {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #353535;
}
.projects .all-projects .project-div .tags span {
  margin: 5px;
}
.projects .all-projects .project-div h2 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}
.projects .all-projects .project-div p {
  font-size: 16px;
  line-height: 20px;
  color: #5e5e5e;
}
.projects .all-projects .project-div .buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}
.projects .all-projects .project-div .buttons a {
  text-decoration: none;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  border-radius: 12px;
  margin: 20px 10px 0 0;
}
.projects .all-projects .project-div .buttons .demo {
  color: white;
  background-color: rgb(47, 128, 237);
}
.projects .all-projects .project-div .buttons .code {
  color: rgb(47, 128, 237);
  background-color: white;
  border: 1px solid rgb(47, 128, 237);
}

.experiences-div {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  padding: 5%;
}
.experiences-div h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #353535;
  margin-bottom: 20px;
}
.experiences-div .company-div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 25px;
}
.experiences-div .company-div .company-logo {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 25%;
}
.experiences-div .company-div .company-details {
  margin-left: 20px;
}
.experiences-div .company-div .company-details .time {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: #828282;
}
.experiences-div .company-div .company-details h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */
  color: #333333;
  margin: 10px 0 20px 0;
}
.experiences-div .company-div .company-details p {
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}

.hobbies-div {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
}
.hobbies-div h1 {
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #353535;
  margin-bottom: 20px;
}
.hobbies-div .hobby-div {
  margin: 20px 0;
}
.hobbies-div .hobby-div .coverImg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  aspect-ratio: 21/9;
  border-radius: 12px;
  margin-bottom: 20px;
}
.hobbies-div .hobby-div h2 {
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  /* identical to box height */
  color: #333333;
}
.hobbies-div .hobby-div p {
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
  margin-top: 20px;
}

.connect-div {
  background-color: white;
  border-radius: 12px;
  padding: 20px;
  margin: 20px;
  height: -moz-fit-content;
  height: fit-content;
  box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -webkit-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
  -moz-box-shadow: 0px 8px 15px 0px rgba(110, 110, 110, 0.3);
}
.connect-div h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  color: #353535;
}
.connect-div .social-links {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: row;
}
.connect-div .social-links a.instagram {
  color: #C13584;
}
.connect-div .social-links a.github {
  color: black;
}
.connect-div .social-links a {
  margin-top: 20px;
  border: 1px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

footer {
  grid-column: 1/3;
  width: 100%;
  text-align: center;
  margin: 50px auto 20px auto;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #5e5e5e;
}
footer a {
  text-decoration: none;
  font-weight: 700;
  color: #353535;
}/*# sourceMappingURL=index.css.map */